<h3 *ngIf="!pets.length">
    Wszystkie zwierzęta zostały zaadaptowane!
</h3>
<div class="cards">
    <div
        *ngFor="let pet of pets"
        class="card"
    >
        <div
            class="image"
            [ngStyle]="{'background-image': 'url('+pet.imageUrl+')'}"
        >
        </div>
        <div class="data">
            <p>imię: {{pet.name}}</p>
            <p>wiek: {{pet.age}}</p>
            <p>rasa: {{pet.breed}}</p>
            <p>płeć: {{pet.gender}}</p>
        </div>
        <p class="description">{{pet.description}}</p>
        <div class="actions" *ngIf="isAdmin$ | async">
            <button class="btn btn--one">Edytuj</button>
            <button class="btn btn--three">Usuń</button>
        </div>
    </div>
</div>
