<div class="container">
    <nav class="shadow-primary">
        <img
            class="logo"
            src="assets/images/logo.png"
            alt="logo"
        >
        <p class="text">Przytulisko dla zwierząt</p>
        <button
            *ngIf="isLogin$ |async"
            class="btn"
            (click)="toggleProfile()"
        >
            <svg>
                <use [attr.xlink:href]="svgLink+'icon-login'"></use>
            </svg>
        </button>
        <button
            class="burger"
            (click)="toggleNavigation()"
        >
            <span
                class="line line--top"
                [ngClass]="{'line--top--active': isNavigationOpen}"
            ></span>
            <span
                class="line line--mid"
                [ngClass]="{'line--mid--active': isNavigationOpen}"
            ></span>
            <span
                class="line line--bot"
                [ngClass]="{'line--bot--active': isNavigationOpen}"
            ></span>
        </button>
    </nav>
    <div
        *ngIf="isNavigationOpen"
        @container
        class="navListContainer"
    >
        <div class="navList">
            <div
                @elementOne
                class="element shadow-primary"
            >
                <a
                    routerLink="/"
                    (click)="closeNavigation()"
                >
                    <svg>
                        <use [attr.xlink:href]="svgLink+'icon-cat-dog'"></use>
                    </svg>
                    <span>Nowi podopieczni</span>
                </a>
            </div>
            <div
                @elementTwo
                class="element shadow-primary"
            >
                <a
                    routerLink="cats"
                    (click)="closeNavigation()"
                >
                    <svg>
                        <use [attr.xlink:href]="svgLink+'icon-cat'"></use>
                    </svg>
                    <span>Koty do adopcji</span>
                </a>
            </div>
            <div
                @elementThree
                class="element shadow-primary"
            >

                <a
                    routerLink="dogs"
                    (click)="closeNavigation()"
                >
                    <svg>
                        <use [attr.xlink:href]="svgLink+'icon-dog'"></use>
                    </svg>
                    <span>Psy do adopcji</span>
                </a>
            </div>
            <div
                *ngIf="!(isLogin$ | async)"
                @elementFour
                class="element shadow-primary"
            >
                <a
                    routerLink="login"
                    (click)="closeNavigation()"
                >
                    <svg>
                        <use [attr.xlink:href]="svgLink+'icon-login'"></use>
                    </svg>
                    <span>Zaloguj się</span>
                </a>
            </div>
        </div>
    </div>
    <div
        *ngIf="isProfileOpen"
        @container
        class="navListContainer navListContainerUser"
    >
        <div class="navList">
            <div
                @elementOne
                class="element"
            >
                <a
                    href="#"
                    (click)="closeProfile()"
                >
                    <svg>
                        <use [attr.xlink:href]="svgLink+'icon-edit-profile'"></use>
                    </svg>
                    <span>
                        konto: {{username$ | async}}
                    </span>
                </a>
            </div>
            <div
                @elementTwo
                class="element"
            >
                <a
                    routerLink="pets"
                    (click)="closeProfile()"
                >
                    <svg>
                        <use [attr.xlink:href]="svgLink+'icon-pets-edit'"></use>
                    </svg>
                    <span>
                        lista podopiecznych
                    </span>
                </a>
            </div>
            <div
                @elementThree
                class="element"
            >
                <a
                    href="#"
                    (click)="logOut()"
                >
                    <svg>
                        <use [attr.xlink:href]="svgLink+'icon-logout'"></use>
                    </svg>
                    <span>Wyloguj się</span>
                </a>
            </div>
        </div>
    </div>
</div>
