<form
    [formGroup]="remindForm"
    (ngSubmit)="submit()"
>
    <div class="block">
        <input
            type="text"
            placeholder="adres email"
            formControlName="email"
        >
        <svg>
            <use [attr.xlink:href]="svgLink+'icon-login'"></use>
        </svg>
        <p
            *ngIf="getField('email')?.touched && getField('email')?.errors?.['required']"
            class="error"
        >
            wymagane pole
        </p>
    </div>
    <div class="block">
        <button
            class="btn btn-active"
            type="submit"
            [disabled]="remindForm.invalid  ? true : null"
        >
            Zresetuj hasło
        </button>
    </div>
</form>
