@import "src/variables";
.container {
    position: relative;
}
nav {
    position: relative;
    z-index: 20;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: $botShadow;
    background-color: white;
}
.logo {
    max-width: 60px;
}
.text {
    margin: 0 auto;
    color: $colorTwo;
}
.burger {
    overflow: hidden;
    width: 30px;
    height: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: transparent;
    .line {
        height: 3px;
        background-color: $colorOne;
        border-radius: 20px;
        transform-origin: left center;
        transition:
            transform 0.25s ease-in-out,
            opacity 0.25s ease-in-out;
        &--top {
            &--active {
                transform: translateX(5px) rotate(35deg);
            }
        }
        &--mid {
            &--active {
                opacity: 0;
                transform: translateX(-100%);
            }
        }
        &--bot {
            &--active {
                transform: translateX(5px) rotate(-35deg);
            }
        }
    }
}
.navListContainer {
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    z-index: 10;
    min-height: 285px;
    .navList {
        display: flex;
        flex-direction: column;
        align-items: center;
        .element {
            position: relative;
            width: 100%;
            padding: 10px 0;
            box-shadow: $botShadow;
            background-color: white;
            a {
                max-width: 300px;
                margin: 0 auto;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                text-decoration: none;
            }
            svg {
                max-height: 50px;
                max-width: 50px;
                fill: $colorOne;
                stroke: $colorOne;
            }
            span {
                margin: 0 auto;
                color: $colorOne;
            }
            &:nth-child(1) {
                z-index: 5;
            }
            &:nth-child(2) {
                z-index: 4;
            }
            &:nth-child(3) {
                z-index: 3;
            }
            &:nth-child(4) {
                z-index: 1;
            }
        }
    }
}
