<p>Lista  podopiecznych zwierzaków:</p>
<table>
    <thead>
        <tr>
            <th>Nr</th>
            <th>Kategoria</th>
            <th>Imię</th>
            <th>Wiek</th>
            <th>Rasa</th>
            <th>Płeć</th>
            <th>Opis</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Kot</td>
            <td>Tajga</td>
            <td>8</td>
            <td>Europejski mix</td>
            <td>Female</td>
            <td>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, minus?
            </td>
            <td>
                <button class="btn btn--one" >Edytuj</button>
                <button class="btn btn--three">Usuń</button>
            </td>
        </tr>
    </tbody>
</table>
