<form
    [formGroup]="resetForm"
    (ngSubmit)="submit()"
>
    <div class="block">
        <input
            type="password"
            placeholder="Nowe hasło"
            formControlName="password"
        >
        <svg>
            <use [attr.xlink:href]="svgLink+'icon-keys'"></use>
        </svg>
        <p
            *ngIf="getField('password')?.touched && getField('password')?.invalid"
            class="error"
        >
            <span *ngIf="getField('password')?.errors?.['required']">wymagane pole,</span>
            <span *ngIf="getField('password')?.errors?.['minlength'] || getField('password')?.errors?.['maxlength']">liczba znaków: 5-10</span>
        </p>
    </div>
    <div class="block">
        <input
            type="password"
            placeholder="Powtórz nowe hasło"
            formControlName="confirmPassword"
        >
        <svg>
            <use [attr.xlink:href]="svgLink+'icon-keys'"></use>
        </svg>
        <p
            *ngIf="getField('confirmPassword')?.dirty && !isSamePasswords"
            class="error"
        >
            <span>hasła są różne</span>
        </p>
    </div>
    <div class="block">
        <button
            class="btn"
            type="submit"
            [disabled]="resetForm.invalid  ? true : null"
        >
            Zaktualizuj hasło
        </button>
    </div>
</form>
