@import "src/variables";
:host {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block {
    position: relative;
    margin: 25px 0;
    svg {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        max-width: 30px;
        max-height: 30px;
        fill: map-get($map: $colors, $key: neutral);
        filter: drop-shadow(0 4px 4px map-get($map: $colors, $key: primary));
    }
    input {
        padding: 10px 10px 10px 40px;
        border-width: 0 0 2px 0;
        border-color: map-get($map: $colors, $key: neutral);
        outline: none;
        &:focus,
        &:focus-visible {
            border-color: map-get($map: $colors, $key: active);
            color: map-get($map: $colors, $key: active);
        }
        &:focus + svg,
        &:focus-visible + svg {
            fill: map-get($map: $colors, $key: active);
            filter: drop-shadow(0 4px 4px map-get($map: $colors, $key: primary)One);
        }
    }
    .btn {
        margin-left: auto;
        padding: 10px;
        border: 1px solid map-get($map: $colors, $key: active);
        border-radius: 20px;
        box-shadow: 0 4px 4px map-get($map: $colors, $key: primary)One;
        display: block;
        background-color: map-get($map: $colors, $key: active);
        color: white;
    }
    &:last-child {
        margin-top: 3rem;
        p {
            margin-right: 5px;
            display: inline-block;
        }
        a {
            color: map-get($map: $colors, $key: active);
        }
    }
    .error {
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        font-size: 10px;
        text-align: center;
        color: hsl(0, 70%, 40%);
        span {
            color: inherit;
        }
    }
}
