<form
    [formGroup]="registerForm"
    (ngSubmit)="submit()"
>
    <div class="block">
        <input
            type="text"
            placeholder="adres email"
            formControlName="email"
        >
        <svg>
            <use [attr.xlink:href]="svgLink+'icon-login'"></use>
        </svg>
        <p
            *ngIf="getField('email')?.touched && getField('email')?.errors?.['required']"
            class="error"
        >
            wymagane pole
        </p>
    </div>
    <div class="block">
        <input
            type="password"
            placeholder="hasło"
            formControlName="password"
        >
        <svg>
            <use [attr.xlink:href]="svgLink+'icon-keys'"></use>
        </svg>
        <p
            *ngIf="getField('password')?.touched && getField('password')?.invalid"
            class="error"
        >
            <span *ngIf="getField('password')?.errors?.['required']">wymagane pole,</span>
            <span *ngIf="getField('password')?.errors?.['minlength'] || getField('password')?.errors?.['maxlength']">liczba znaków: 5-10</span>
        </p>
    </div>
    <div class="block">
        <input
            type="password"
            placeholder="powtórz hasło"
            formControlName="passwordConfirm"
        >
        <svg>
            <use [attr.xlink:href]="svgLink+'icon-keys'"></use>
        </svg>
        <p
            *ngIf="getField('passwordConfirm')?.dirty && !isSamePasswords"
            class="error"
        >
            <span>hasła są różne</span>
        </p>
    </div>
    <div class="block">
        <button
            class="btn"
            type="submit"
            [disabled]="registerForm.invalid || !isSamePasswords ? true : null"
        >
            Zarejestruj się
        </button>
    </div>
</form>
