@import "src/variables";

* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: $colorTwo;
}
button {
    cursor: pointer;
    &[disabled] {
        filter: grayscale(1);
        cursor: auto;
        pointer-events: none;
    }
}
