$colors: (
    primary: hsl(103, 23%, 26%),
    secondary: hsl(283, 35%, 40%),
    active: hsl(23, 80%, 45%),
    neutral: hsl(0, 0%, 95%),
    ink: hsl(64, 50%, 15%),
    warning: hsl(5, 85%, 55%)
);
