<form
    [formGroup]="loginForm"
    (ngSubmit)="submit()"
>
    <div class="block">
        <input
            type="text"
            placeholder="adres email lub nick"
            formControlName="email"
        >
        <svg>
            <use [attr.xlink:href]="svgLink+'icon-login'"></use>
        </svg>
        <p
            *ngIf="getField('email')?.touched && getField('email')?.errors?.['required']"
            class="error"
        >
            wymagane pole
        </p>
    </div>
    <div class="block">
        <input
            type="password"
            placeholder="hasło"
            formControlName="password"
        >
        <svg>
            <use [attr.xlink:href]="svgLink+'icon-keys'"></use>
        </svg>
        <p
            *ngIf="getField('password')?.touched && getField('password')?.invalid"
            class="error"
        >
            <span *ngIf="getField('password')?.errors?.['required']">wymagane pole,</span>
            <span *ngIf="getField('password')?.errors?.['minlength'] || getField('password')?.errors?.['maxlength']">liczba znaków: 5-10</span>
        </p>
    </div>
    <div class="block">
        <button
            class="btn btn-active"
            type="submit"
            [disabled]="loginForm.invalid ? true : null"
        >
            Zaloguj
        </button>
    </div>
    <div class="block block--end">
        <p>Nie masz konta?</p>
        <a routerLink="/register">Zarejestruj się</a>
    </div>
    <div class="block block--end">
        <p>Zapomniałeś hasła?</p>
        <a routerLink="/remind-password">Przypomnij hasło</a>
    </div>
</form>
